<div class="container">
    <div>

        <div class="row p-4">
            <div class="col-md-12">
                <h1 class="d-inline">Bienvenido a TwitterApp <strong *ngIf="userservice.usuario" class="capital">{{ userservice.usuario.nombre }}</strong> </h1>
                <h6 *ngIf="!userservice.usuario">debes Iniciar Sesion para poder Entrar</h6>
                <div *ngIf="userservice.usuario" class="col-md-12 row" style="margin-top: 30px;">

                    <div class="col-md-10">
                        <form [formGroup]="forma" (ngSubmit)="publicar()">

                            <div class="form-group">
                                <textarea class="form-control" formControlName="text" name="text" placeholder="Escribir publicacion" cols="30" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success pointer">Publicar</button>

                        </form>
                    </div>


                </div>

            </div>

        </div><br />

    </div>
</div>